
/* --- Layout Principal --- */
.login-page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111; 
  font-family: 'Inter', sans-serif;
  padding: 2rem 0; 
  box-sizing: border-box;
}

.login-container {
  width: 900px;
  max-width: 90%;
  height: auto; 
  min-height: 550px; 
  background-color: rgba(20, 20, 20, 0.9);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.login-logo-container {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.logo-let { color: #E50914; }
.logo-movie { color: #FFFFFF; }

.login-content {
  display: flex;
  width: 100%;
  flex-grow: 1; 
}

/* --- Lado da Imagem --- */
.login-image {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  width: 80%;
  max-width: 300px;
}

/* --- Lado do Formulário --- */
.login-form-content {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  color: #fff;
}

.login-form-content h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #fff;
}


/* Subtítulo para a página de cadastro */
.auth-subtitle {
  font-size: 1rem;
  color: #aaa;
  margin-top: -1.2rem;
  margin-bottom: 1.5rem;
}

.login-form { 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form label {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.login-form input {
  background-color: #333;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 0.9rem 1rem;
  color: #fff;
  font-size: 1rem;
}

.login-form input::placeholder { color: #888; }

.login-form input:focus {
  outline: none;
  border-color: #E50914;
  box-shadow: 0 0 5px rgba(229, 9, 20, 0.5);
}

.login-button {
  background-color: #E50914;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.9rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.2s ease;
}

.login-button:hover { background-color: #f6121d; }

.login-links {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.forgot-password {
  color: #aaaaaa;
  text-decoration: none;
}
.forgot-password:hover { text-decoration: underline; }

.cadastrar { margin-top: 15px; }
.sign-up { text-decoration: none; }
.signup-white { color: #aaaaaa; }
.signup-underline {
  color: #ffffff;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}