.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: #C80710;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 12px 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease;
}

.button.primary { /*define a cor do primeiro botão*/
    background-color: #C80710;
    color: white;
}

.button.primary:hover {
    background-color: #ff000d;
    transform: scale(1.05);
}

.button.secondary { /*define a cor do segundo botão*/
    background-color: #0F1015;
    border: #2C2F3A;
}

.button.secondary:hover {
    background-color: #2C2F3A;
    color: white;
    transform: scale(1.05);
}
