.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 8px; 
    background-color: #C80710;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; 
    padding: 12px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent; 
}

/*cor botão primário*/
.button.primary {
    background-color: #C80710;
    border-color: #C80710;
    color: white;
}

.button.primary:hover {
    background-color: #e50914;
    border-color: #e50914;
    transform: scale(1.05);
}

/*cor botão segundário*/
.button.secondary {
    background-color: #2C2F3A; 
    border: 2px solid #2C2F3A; 
    color: white;
}

.button.secondary:hover {
    background-color: #3e424f;
    border-color: #3e424f;
    color: white;
    transform: scale(1.05);
}