/* container geral */
.perfil-container {
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    color: white;
    font-family: "Montserrat", sans-serif;
}

/* card */
.perfil-card {
    background-color: #1c1c1c;
    border: 1px solid #333333;
    border-radius: 12px;
    padding: 2rem 3rem;
}

.perfil-header-title {
    font-size: 35px;
}

/* título */
.perfil-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #333333;
}
.perfil-title i {
    color: #c80710;
}

/* layout */
.perfil-content {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

/* avatar */
.perfil-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #c80710;
    object-fit: cover;
}

/* info */
.perfil-info {
    flex: 1;
}

.perfil-field {
    margin-bottom: 1.5rem;
}

.perfil-field h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #dddddd;
}

.perfil-field p {
    background: #333333;
    border: 1px solid #555555;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    font-size: 1.1rem;
    min-height: 48px;
    display: flex;
    align-items: center;
}

/* linha dupla */
.perfil-field-row {
    display: flex;
    gap: 1.5rem;
}
.perfil-field-row .perfil-field {
    flex: 1;
}

/* actions */
.perfil-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #333;
}

.perfil-button-edit {
    background-color: #c80710;
    color: white;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.perfil-button-edit:hover {
    background-color: #e50914;
}


