.notificacoes-container {
    width: 1000px;
    margin: 40px auto;
    padding: 20px 40px;
    background: linear-gradient(180deg,
            rgba(155, 153, 155, 0.15) 0%,
            rgba(255, 255, 255, 0) 100%);
    border: 1px solid #333333;
    border-radius: 12px;
    color: white;
    font-family: "Montserrat", sans-serif;

}

/*titulo*/
.notificacoes-container h1 {
    font-size: 35px;
    font-weight: 600;
    color: #c80710;
    margin: 40px 0 30px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Montserrat", sans-serif;

}

.title-notificacoes {
    color: white;
}

/*colunas de notificação*/
.notificacoes-lista-pagina {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*container de cada item*/
.notificacao-item-pagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 1px solid #444444;
    font-family: "Montserrat", sans-serif;
}

/*informações da notificação*/
.notificacao-info {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.notificacao-info a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.notificacao-info a strong {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
    font-family: "Montserrat", sans-serif;
}

.notificacao-info a:hover strong {
    color: #c80710;
}

.notificacao-info span {
    color: #aaa;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.notificacao-actions {
    display: flex;
    gap: 16px;
}

/*botões de enviar ou cancelar*/
.action-btn {
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: all 0.2s ease;
    font-family: "Montserrat", sans-serif;
}

.action-btn i {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.action-btn.approve {
    background-color: #1A8103;
    color: white;
}

.action-btn.approve:hover {
    background-color: #1e7e34;
}

.action-btn.reject {
    background-color: #A5050B;
    color: white;
}

.action-btn.reject:hover {
    background-color: #b02a37;
}
