/*estilização card de filmes*/
.movie-card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 1px solid #333333;
    width: 270px;
}

.movie-card:hover {
    transform: translateY(-8px); /*efeito de subir ao passar o mouse por cima*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /*sombra de profundidade*/
}

.movie-card-link {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Faz o link ocupar o espaço */
}

/*poster do filme */
.movie-card-poster img{
    width: 270px;
    height: 400px; /*tamanho padrão para posters*/
    object-fit: cover; /*preenchimento sem distorcer */
    display: block;
    
}

/*informações do filme*/
.movie-card-info {
    padding: 16px;
    flex-grow: 1; /* Ocupa espaço */
}

/*titulo do filme*/
.movie-card-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    overflow: hidden; /*evira que o texto exceda o container*/
    min-height: 40px; 
    font-family: "Montserrat", sans-serif;
}

/*ano do filme*/
.movie-card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #dddddd;
    font-family: "Montserrat", sans-serif;
}

/*estrelas*/
.movie-card-rating {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #f5c518;
    font-weight: 600;
}

/*botão de ver mais*/
.movie-card-button {
    display: block;
    width: calc(100% - 32px); /* lógica para compensar margens laterais */
    margin: 0 16px 16px 16px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    background-color:#c80710;
    color: #ffffff;
    transition: background-color 0.2s ease;
    font-family: "Montserrat", sans-serif;
}

.movie-card-button:hover {
    background-color: #e50914;
}