
/*container principal modal de filtro*/
.filter-modal-content {
  display: flex;
  flex-direction: column;
  gap: 24px; 
  font-family: "Montserrat", sans-serif;
}

/*título do modal*/
.filter-modal-content h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 0.8px 0; 
  text-align: center;
  color: #ffffff; 
}

/*estilização form (label + input/textarea)*/
.filter-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1; /* Faz com que os grupos na linha dividam o espaço */
}

/*estilo dos labels*/
.filter-form-group label {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

/* Estilo input e textarea */
.filter-form-group input,
.filter-form-group textarea {
  background-color: #3b3b3b;
  border: 1px solid #555555;
  border-radius: 8px;
  padding: 14px 16px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  height: 50px; 
}

/* Placeholder */
.filter-form-group input::placeholder,
.filter-form-group textarea::placeholder { 
  color: #999999; 
  font-family: "Montserrat", sans-serif;
}

/* Estilo específico para o textarea da sinopse */
.filter-form-group textarea {
  height: 120px; /* Altura maior para sinopse */
  resize: vertical; /* Permite redimensionar verticalmente */
}


/* Alinhamento ator e ano lado a lado*/
.filter-form-row {
  display: flex;
  flex-direction: row;
  gap: 24px; 
}

/* Botões com o layout da imagem */
.filter-modal-actions {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 24px; 
  justify-content: center;
}
.filter-button {
  padding: 12px 16px;
  text-align: center;
  min-width: 140px; /* Largura mínima para os botões */
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.filter-button.cancel {
  background-color: #555555; 
  color: #fff;
  border: none;
}
.filter-button.cancel:hover {
  background-color: #777777;
}
.filter-button.confirm {
  background-color: #c80710; 
  color: #fff;
}
.filter-button.confirm:hover {
  background-color: #e50914;
}