.carrossel-container {
    margin: 20px 0;
    padding-left: 30px;
}

.carrossel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    margin-bottom: 10px;
}

.carrossel-header h2 {
    color: white;
    font-size: 20px;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.carrrossel-nav button {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.carrrossel-nav button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* rolagem dos filmes */

.movie-list-container {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /*esconde a barra de rolagem*/
    &::-webkit-scrollbar { /*esconde a barra de rolagem*/
        display: none;
    }
}

.movie-list {
    display: flex;
    flex-direction: row; /*coloca os itens lado a lado*/
    gap: 15px;
    padding-bottom: 10px;
}

/*edição dos cards de filme*/
.movie-card {
    flex: 0 0 auto;
    width: 200px;
    /* background-color: #1c1c1c; */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    z-index: 10;
}

.movie-card-poster {
    width: 100%;
    height: 300px;
    object-fit: cover; /*controla a imagem pra se ajustar ao container*/
    display: block;
}

.movie-card-body {
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.movie-card h4 {
    font-size: 16px;
    margin: 0 0 10px 0;
    white-space: nowrap; /*quebra se o texto for muito longo*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.movie-card-details span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-card-button {
    width: 100%;
    background-color: #C80710;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.movie-card-button:hover {
    background-color: #e50914;

}