.detalhe-container {
    position: relative;
    min-height: 90vh;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 64px 0;
}

.detalhe-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: cover;
}
