
/*configuração de estilização do header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
    padding: 0 30px;
    height: 60px;
    position: relative; 
    z-index: 1000;
}

/*tira o underline dos links*/
.logo-link {
    text-decoration: none;
}

/*config logo letmovie*/
.logo {
    font-size: 28px;
    font-weight: bold;
    margin-right: 30px;
}

.logo-let {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.logo-movie{
    color: #c80710;
    font-family: "Montserrat", sans-serif;
}

/*navegação*/
.nav-main {
    flex-grow: 1; /*empurra o menu pra ocupar espaço*/
}

/*lista itens do menu*/
.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

/*links individuais do menu*/
.nav-item a {
display: inline-block; 
color: white;
text-decoration: none;
font-size: 16px;
font-family: "Montserrat", sans-serif;
padding: 20px 0;
border-bottom: 3px solid transparent;
transition: border-color 0.3s, color 0.3s;
}

.nav-item a:hover {
border-bottom-color: #c80710;
}

/*link ativo*/
.nav-item a.active-link {
    border-bottom-color: #c80710;
    color: #c80710; 
}

/*icones à direita*/
.header-right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*barra de pesquisa*/
.search-form {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    padding: 5px 15px;
    width: 300px;
}

/*botão de pesquisa*/
.search-button {
    background: none;
    border: none;
    color: #dddddd;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
}

/*texto interno*/
.search-input {
    background: none;
    border: none;
    color: #ffffff;
    width: 100%;     
    font-size: 16px;
    outline: none;
}

/*acessibilidade*/
.search-input::placeholder {
    color: #999999;
}

/*config sessão de icones*/
.section-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/*icones config*/
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
  padding: 0;
  opacity: 0.9;
  transition: color 0.3s, transform 0.2s ease;
  position: relative;
  line-height: 1;
}


.icon-button i {
    color: #ffffff;
}

.icon-button:hover i {
    color: #c80710;
    transform: scale(1.1);
}

/*config pagina sem logar*/
.header.auth-header {
    justify-content: left; 
}

.header.auth-header .logo {
     margin-right: 0;
}

/*badge de notificações*/
.notification-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: #c80710;
  color: white;
  font-size: 10px;
  font-weight: 600;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #151515;
}

.header-avatar-icon {
  font-size: 22px;
  color: #ffffff;
}

/*modal de logout*/

/*conteudo do componente logout*/
.logout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

/* titulo centralizado*/
.logout-title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

/*paragrafo de alerta*/
.logout-text {
    margin: 0;
    font-size: 18px;
    color: #dddddd;
}

/*botões de ação do logout*/
.logout-actions {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

/*botões de ação*/
.logout-button {
    padding: 12px 32px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background 0.2s;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    min-width: 120px;
}

.logout-button.cancel {
    background-color: #555555;
    color: #ffffff;
    border: 1px solid #444444;
}

.logout-button.cancel:hover {
    background: #444444;
}

.logout-button.confirm {
    background-color: #B21919;
}

.logout-button.confirm:hover {
    background-color: #B02A37;
}