.footer-container {
  background-color: #151515; 
  color: #aaa;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid #2b2b2b;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.logo-let {
  color: #ffffff;
}

.logo-movie {
  color: #c80710; 
}

.footer-text {
  font-size: 0.9rem;
  color: #888888;
}