
/*configurações gerais do componente footer*/
.footer-container {
  background-color: #151515; 
  color: #dddddd;
  padding: 24px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid #2b2b2b;
}

/*configurações internas de espaçamento*/
.footer-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

/*configurações logo*/
.footer-logo {
  font-size: 20px;
  font-weight: bold;
}

.logo-let {
  color: #ffffff;
}

.logo-movie {
  color: #c80710; 
}

.footer-text {
  font-size: 16px;
  color: #dddddd;
}