.dropdown {
    position: relative;
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    background-color: #151515;
    border: 1px solid #333333;
    border-radius: 8px;
    width: 260px;
    padding: 8px 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    z-index: 100;
}

.profile-menu-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-bottom: 1px solid #333333;
}

.profile-menu-avatar {
    font-size: 40px;
    color: #ffffff;
}

.profile-menu-user {
    font-size: 16px;
    font-weight: 600;
}

.profile-menu-list {
    list-style: none;
    margin: 0;
    padding: 8px 0;
}

.profile-menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    color: #dddddd;
    text-decoration: none;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.profile-menu-item:hover{
    text-decoration: underline red;
}

.profile-menu-item i{
    font-size: 20px;
    text-align: center;
    width: 20px;
    color: #aaaaaa;
}

.profile-menu-item.logout {
    border-top: 1px solid #333;
    color: #c80710;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.profile-menu-item.logout:hover {
    background-color: rgba(200, 7, 16, 0.1);
}

.notificacoes-menu-header {
    padding: 12px 16px;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #333333;
}

.notifications-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
    max-height: 300px;
    overflow-y: auto;
}

.notifications-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #222222;
}


.notifications-item:last-child {
    border-bottom: none;
}

.notifications-item-text {
    font-size: 14px;
    color: #dddddd;
    line-height: 1.4;
    padding-right: 10px;
}
.notifications-item-text strong {
    color: #ffffff;
    font-weight: 600;
}

.notifications-item-actions {
    display: flex;
    gap: 8px;
}

.notification-action-button {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.notification-action-button.approve {
    color: #28a745;
}

.notification-action-button.reject {
    color: #dc3545;
}

.notification-action-button.reject:hover {
    background-color: rgba(220, 53, 69, 0.1);
}

.notification-action-button.approve:hover {
    background-color: rgba(40, 167, 69, 0.1);
}

.notification-view-link {
    display: block;
    padding: 10px 16px;
    text-align: center;
    color: #aaa;
    font-size: 1.2rem;
    text-decoration: none;
    border-top: 1px solid #333;
}

.notification-view-link:hover {
    color: var(--primary-color);
    background-color: #222;
}