.dropdown {
    position: relative;
    display: block;
}

/* configurações de design do container do popup*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 25px;
    background-color: rgba(21, 21, 21, 0.9);
    border: 1px solid rgba(153, 153, 153, 0.3);
    border-radius: 20px;
    width: 260px;
    padding: 8px 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    z-index: 100;
}

/*configurações internas de espaçamento*/
.profile-menu-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-bottom: 1px solid #333333;
}

/*tamanho do icone principal*/
.profile-menu-avatar {
    font-size: 40px;
    color: #ffffff;
}

/*tamanho do titulo principal*/
.profile-menu-user {
    font-size: 18px;
    font-weight: 600;
}

/*config da lista intenra*/
.profile-menu-list {
    list-style: none;
    margin: 0;
    padding: 8px 0;
}

/*titulos menu popup*/
.profile-menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    color: #dddddd;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

/*linha ao passar mouse*/
.profile-menu-item:hover{
    text-decoration: underline red;
}

.profile-menu-item i{
    font-size: 20px;
    text-align: center;
    width: 20px;
    color: #dddddd;
}

/*modal logout*/
.profile-menu-item.logout {
    border-top: 1px solid #333333;
    color: #c80710;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.profile-menu-item.logout:hover {
    background-color: rgba(200, 7, 16, 0.1);
}

/*popup notificacoes estilo container*/
.notificacoes-menu-header {
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #333333;
}

/*estilo espaçamento interno*/
.notifications-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.notifications-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #333333;
}


.notifications-item:last-child {
    border-bottom: none;
}

/*estilo dos itens*/
.notifications-item-text {
    font-size: 16px;
    color: #dddddd;
    line-height: 1.4; /*espaçamento de linhas*/
    padding-right: 10px;
}
.notifications-item-text strong {
    color: #ffffff;
    font-weight: 600;
}

.notification-view-link {
    display: block;
    padding: 10px 16px;
    text-align: center;
    color: #dddddd;
    font-size: 20px;
    text-decoration: none;
    border-top: 1px solid #333333;
}

.notification-view-link:hover {
    text-decoration: underline #dddddd;
}