
body {
  font-family: "Montserrat", sans-serif;
  color: white;
}


figure {
  margin: 0;
  padding: 0;
  display: block; 
}

nav, section, article, header, footer, aside {
  display: block;
}

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  overflow-x: hidden; 
  max-width: 100vw;
}