
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

body {

  background: linear-gradient(
    to bottom, 
    #000000 0%,         
    #2B0A0A 61%,        
    #2B0A0A 100%        
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Estilos de Texto Globais */
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; /* Evita barra de rolagem lateral */
}

/* 4. Container do React */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}